* {
    margin: 0%;
}


/* header section starts frome here */



header {
    width: 100%;
    height: 810px;
    background-color: rgb(247, 205, 154);
}



.nav,
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    margin-right: 60px;
    padding-top: 10px;

}

.nav {
    width: 100%;
    padding: 15px 80px;
    text-decoration: none;
    list-style: none;
    color: rgb(0, 0, 0);

}

.nav a {
    text-decoration: none;
    color: black;
}



.header-set {
    margin-top: 40px;
    text-align: center;

}

.header-set,
.header-title,
.header-detail {
    padding-bottom: 20px;

}

.btn {
    background-color: #FF900E;
    border: 0px;
    color: rgb(255, 255, 255);
}

header>img {
    height: 500px;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}






/* main team section starts from here */


.team-container {
    display: flex;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}



.team-container img {
    width: 240px;
    height: 240px;

}


.team-img-all {
    margin-left: 200px;
    display: grid;
    grid-template-columns: repeat(2, 240px);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;

}



.team-details {
    padding-top: 130px;
    padding-left: 45px;
    padding-bottom: 10px;
}



.team-title {
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 500;
    padding-bottom: 10px;

}

.team-details p {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
}

.team-btn {
    background-color: #FF900E;
    color: aliceblue;
    border: 0px;

}




/* article section starts from here */



.article-container {
    height: 720px;
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    border: 1px solid;
    margin-left: 12.5%;

}


.articles {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 55px;
    margin-bottom: 70px;
    border: 1px solid;
    
}



.article-title {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
}



.article-pic {
    position: relative;
    z-index: -1;
    height: 640px;
    width: 450px;
    border: 1px solid;
    
}

.articles div {
    padding-bottom: 30px;
}



.articles p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgb(97, 97, 97);
}


.article-title-p{
    margin-top: 20px;
    margin-left: -50px;
    color: #FF900E;
}



.article-btn {
    height: 120px;
    width: 50%;
    border: 1px solid chocolate;
    display: block;
    margin-top: -85px;
    margin-left: -80px;
    color: rgb(255, 255, 255);
    border-radius:7px ;
    /* background-color: #eb8613; */
    font-size:xx-large;
    font-weight: 900;
    text-align: center;
}
.experiance{
    font-size: medium;
    font-weight: 500;
    
}



.facts-container{
    height:300px ;
    width: 50%px;
    border: 1px solid;
    display: flex;
}

.single-container{
    height:50px ;
    width: 50px;
    border: 1px solid;
}

.facts-title{
    margin-top: 50px;
}